{% extends 'base.html.twig' %}

{% block title %}Hello IncomeController!{% endblock %}

{% block body %}

<h1> Add income</h1>

<p>Here you can add your income to the database:</p>

<!-- poniżej trzeba zrobić form jak przy rejestracji -->
<ul>
    <li>amount</li>
    <li>date</li>
    <li>category</li>
    <li>comment</li>
</ul>



{% endblock %}
